beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
feedparser==6.0.11
filelock==3.13.1
gdown==5.1.0
idna==3.6
megapy @ git+https://github.com/diogovalentte/megapy.git@f43992b5f772441279588d3ea598654815ba0455
PySocks==1.7.1
pytfy @ git+https://git@github.com/diogovalentte/pytfy.git@a26fe2862dbad554ac4d673a105e72d5febf3041
requests==2.31.0
sgmllib3k==1.0.0
soupsieve==2.5
tqdm==4.66.2
urllib3==2.2.1
